* {
    padding: 0;
    margin: 0;
    
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

body {
    width: 100%;
    height: 200vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1E3D51;
}

.pag_cadastro {
    width: 70%;
    height: 150vh;
    display: flex;
    border-radius: 20px;
    padding: 220px;
    
}

.form{
    width: 100%;
    height: 840px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color:#ffF;
    padding: 3rem;
    border-radius: 20px;
}
H1{
    text-align: justify;
    width: 100%;
    margin: 2px, 8px;
}
label{
   
   width: 100%;
   display: inline-block;
   margin: 0px 30px ;
   font-size: 18px;
}

input[type="text"], input[type="email"], input[type="password"] {
    width: 300px;
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #326A8F;
    border-radius: 20px;
    box-sizing: border-box;
    background-color:#ffffff;
    box-shadow: 5px 5px 10px rgba(0,0,0, .212);
    
}


.enviar button{
    width: 250px;  
    display: inline-block;
    border: 1px solid #326A8F;
    border-radius: 60px;
    box-sizing: border-box;
    height: 40px;
    text-align: center;
    cursor: pointer;
    background-color:#fff;
}

.select {
    width: 300px;
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #326A8F;
    border-radius: 20px;
    box-sizing: border-box;
    background-color:E6E2DF;
    box-shadow: 5px 5px 10px rgba(0,0,0, .212);
}



