.open-modal-btn {
    background-color: transparent;
    color: white;
    cursor: pointer;
 margin-top: 14px;
 margin-left: 16px;
 margin-right: 15px;
   
}
 
.open-modal-btn:hover {
    background-color: #2a5674;

    border-radius: 5px;
  }
 
.fechar {
    background-color: red;
    color: white;
    border: none;
    padding: 0px;
    cursor: pointer;
    border-radius: 10px;
    float: right;
    width: 20px;
    height: 20px;
   
}
 
 
input[type="text"], input[type="email"], input[type="password"] {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
 
button {
    width: 100%;
    background-color: #F77A28;
    color: white;
    padding: 14px 20px;
    margin: 10px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.modal-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}
.modal-content {
    z-index: 1;
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    width: 100%;
    max-width: 400px;
    max-height: 80vh; /* Limita a altura máxima a 80% da altura da tela */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow-y: auto; /* Adiciona barra de rolagem vertical quando o conteúdo exceder a altura */
}