* {
  margin: 0;
  padding: 0;
}

a {
  font-family: sans-serif;
  text-decoration: none;
}

.header-01 {
  background: #1E3D51;
  padding-inline: 16px;
}

.nav-01 {
  max-width: 1280px;
  height: 70px;
  margin-inline: auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-01 {
  font-size: 48px;
}

.image-01{
  width: 10rem;
  height: auto;
  padding-top: 1rem;
}

.nav-list-01 {
  display: flex;
  gap: 32px;
  list-style: none;
}

.nav-list-01 a {
  font-size: 18px;
  color: #fff;
  padding-block: 16px;
}

.hero {
  height: calc(100vh - 70px);
  background: center / cover no-repeat url("./bg.jpg");
}

.hamburger {
  display: none;
  border: none;
  background: none;
  border-top: 3px solid #fff;
  cursor: pointer;
}

.hamburger::after,
.hamburger::before {
  content: " ";
  display: block;
  width: 30px;
  height: 3px;
  background: #fff;
  margin-top: 5px;
  position: relative;
  transition: 0.3s;
}

@media (max-width: 750px) {
  .hamburger {
    display: block;
    z-index: 1;
  }

  .nav-list-01 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #1E3D51;
    clip-path: circle(100px at 90% -15%);
    transition: 1s ease-out;

    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 0;

    pointer-events: none;
  }

  .nav-list-01 a {
    font-size: 24px;
    opacity: 0;
  }

  .nav-list-01 li:nth-child(1) a {
    transition: 0.5s 0.2s;
  }

  .nav-list-01 li:nth-child(2) a {
    transition: 0.5s 0.4s;
  }

  .nav-list-01 li:nth-child(3) a {
    transition: 0.5s 0.6s;
  }

  /* Estilos ativos */

  .nav-01.active .nav-list-01 {
    clip-path: circle(1500px at 90% -15%);
    pointer-events: all;
  }

  .nav-01.active .nav-list-01 a {
    opacity: 1;
  }

  .nav-01.active .hamburger {
    position: fixed;
    top: 26px;
    right: 16px;
    border-top-color: transparent;
  }

  .nav-01.active .hamburger::before {
    transform: rotate(135deg);
  }

  .nav-01.active .hamburger::after {
    transform: rotate(-135deg);
    top: -7px;
  }
}