* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
}

body {
  font-family: Arial, sans-serif;
  display: block;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Garante que o corpo tenha pelo menos a altura da janela de visualização */
  background-color: #f0f0f0; /* Uma cor de fundo suave para o corpo */
  margin: 0; /* Remove a margem padrão do navegador */
}

.container {
  margin-top: 180px;
  background-color: lightgrey;
  width: 90%;
  height: 70%;
  max-width: 1000px;


  border-radius: 6px;
  padding: 16px;


  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.questions-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.question {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.answers-container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

.answer:disabled {
  cursor: not-allowed;
}

.next-question {
  margin-top: 32px;
}

.button {
  background-color: #F77A28;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  border: 0;
  border-radius: 6px;
  height: 48px;
  padding: 0 32px;

  transition: filter 0.1s;
}

.button:not(:disabled):hover {
  filter: brightness(0.8);
}


.final-message {
  font-size: 20px;
  text-align: center;
}

.final-message span {
  display: block;
  margin-top: 8px;
}

.hide {
  display: none;
}

.correct {
  background-color: #049b48;
}

.incorrect {
  background-color: #a10101;
}